
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Update user</title>
        <link rel="stylesheet" href="/css/home.css" />
    </head>
    <body>
        <%= JSON.stringify(user) %>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/create" class="active">Update Users</a>
        </div>

        <form class="form" action="/update-user" method="POST">
            <div class="input-group">
                <label for>Id</label>
                <input type="text" name="userId" value="<%= user.id %>" />
            </div>
            <div class="input-group">
                <label for>Email</label>
                <input type="text" name="email" value="<%= user.email %>" />
            </div>
            <div class="input-group">
                <label for>Name</label>
                <input type="text" name="name" value="<%= user.name %>" />
            </div>
            <div class="input-group">
                <label for>City</label>
                <input type="text" name="city" value="<%= user.city %>" />
            </div>
            <div class="input-group">
                <label for>Address</label>
                <input type="text" name="address" value="<%= user.address %>" />
            </div>
            <div class="input-group">
                <label for>Age</label>
                <input type="text" name="age" value="<%= user.age %>" />
            </div>
            <button type="submit">Save</button>
        </form>
    </body>
</html>
